<div id="slide">
    <div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "nemo.jpg" %></div>
    <div class="item"><%= image_tag "toystory.jpg" %></div>
    <div class="item"><%= image_tag "up.jpg" %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

<div class="nabizim">
  <h1>Co nabízím .....</h1>
  <ul>
    <li class="web"></li>
    <li class="log"></li>
    <li class="ui"></li>
    <li class="grafika"></li>
    <li class="tisk"></li>

  </ul>
</div>